[Desktop Entry]
Name=RustCooling
Comment=Lightweight LCD Display controller for ID-COOLING FX series coolers
Exec=RustCooling
Icon=rustcooling
Terminal=false
Type=Application
Categories=Utility;HardwareSettings;System;
StartupNotify=false
Keywords=cooling;idcooling;hardware;fan;pump;telemetry;